h1
{
	color: cornflowerblue;
	font-family: Trebuchet MS;
  position: relative;
  background-color: #FFC;
  padding: 2rem;
  text-align: center;
  max-width: 250px;
  text-decoration: underline;
}

h1::before {
  content: "";

  position : absolute;
  z-index  : -1;
  bottom   : 15px;
  right    : 5px;
  width    : 50%;
  top      : 80%;
  max-width: 150px;

  box-shadow: 0px 13px 10px black;
  transform: rotate(4deg);
}

html
{
  margin: 0;
  padding: 0;
  background-size: cover;
  -webkit-background-size: cover;
  background: url("fondMAT.jpg") no-repeat center fixed;
}

.bouton1 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 200px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton2 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 170px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton3 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 190px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton4 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 150px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton5 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 250px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton6 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 200px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton7 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 90px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton8 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 170px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.bouton9 {
  border-radius:12px 0 12px 0;
  background: #478bf9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 350px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone1 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 120px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone2 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 240px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone3 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 140px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone4 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 350px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone5 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 100px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone6 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 270px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone7 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 240px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone8 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 140px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone9 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 190px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone10 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 80px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone11 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 190px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutone12 {
  border-radius:12px 0 12px 0;
  background: #7EC1F9;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 180px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutonmanuel {
  border-radius:12px 0 12px 0;
  background: #0461AF;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 170px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutonadultes {
  border-radius:12px 0 12px 0;
  background: #0461AF;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 270px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}

.boutonsujetsbac {
  border-radius:12px 0 12px 0;
  background: #0461AF;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  width: 220px;
  border-bottom: 2px solid #90bade;
  margin: 0;
}
